@import './shared-theme.css';
body {
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  margin-left: 0.625rem;
}

table.item-row {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

h1 {
  font-weight: normal;
  font-size: var(--font-h4);
}
h2 {
  font-weight: normal;
  font-size: var(--font-h4);
}
h3 {
  font-weight: normal;
  font-size: 0.875rem;
}
h4 {
  font-weight: normal;
  font-size: 0.875rem;
}

a:link {
  color: red;
}
a:visited {
  color: red;
}
a:hover {
  color: blue;
}
a:active {
  color: red;
}

#page-header {
  table-layout: fixed;
  width: 100%;
  padding: 1.25rem;
  margin-bottom: 0.0625rem;
  font-size: var(--font-base);
}

#page-header td.left-header,
#page-header td.right-header {
  vertical-align: top;
  padding-top: 0.625rem;
}

#page-header td.left-header {
  width: 66%;
}

#page-header td#eventName,
#page-header td#eventStartDate,
#page-header td#eventLocation,
#page-header td#eventEndDate {
  width: 33%;
}

.eventHeaderLabel {
  width: 30%;
  float: left;
}

#page-header td.printCrf_box6 {
  font-weight: bold;
}

#DNBackgroundColorForHeaders {
  background-color: #c4cfd6;
  text-decoration: underline;
  font-size: 90%;
}

.AL_DNBackgroundColorForHeaders {
  background-color: #999;
  text-decoration: underline;
  border-bottom-width: thick;
  border-bottom-style: solid;
  border-bottom-color: black;
  width: 100%;
  font-size: 90%;
}

.DNParentRowColor {
  background-color: #ccc;
  font-size: 80%;
}

#MetadataBackgroundColorForHeaders {
  background-color: #b6c4cf;
  text-decoration: underline;
  font-size: 90%;
}

#ALBackgroundColorForHeaders {
  background-color: #dadfe5;
  text-decoration: underline;
  font-size: 90%;
}

.spinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -11.875rem;
  margin-left: -16.1875rem;
}

.with_border {
  border: 0.0625rem solid black;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text_centered {
  text-align: center;
}

.text-right-aligned {
  text-align: right;
}

.text-left-aligned {
  text-align: left;
}

.text-left-aligned-bold {
  text-align: left;
  font-weight: bold;
}
.text-right-aligned-bold {
  text-align: right;
  font-weight: bold;
}
.repeating_item_wrapper {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5x;
}

.item_def_wrapper {
  min-width: 100%;
  max-width: 25rem;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0.625rem;
  padding-left: 0.3125rem;
}

.item_def_name {
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
}

.item_def_number {
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
}

.item_def_title {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  max-width: 12.5rem;
  font-weight: normal;
}

div.item_def_control {
  vertical-align: bottom;
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 1.25rem;
}

span.item_def_control {
  vertical-align: bottom;
  display: inline-block;
  font-size: 0.7em;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.item_def_format_label {
  vertical-align: top;
  color: #555555;
}

div.inline {
  display: inline;
}

.checkbox_control {
}

.item_def_repeating_unit {
  display: inline-block;
  font-size: 0.6em;
}

.header-title {
  background-color: #dddddd;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.section-title {
  background-color: #b5b5b5;
  border: thin solid #555555;
  font-size: 1em;
  font-weight: bold;
  padding-top: 0.1875rem;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  padding-bottom: 0.1875rem;
  vertical-align: top;
}

.section-info {
  background-color: #b5b5b5;
  border: thin solid #555555;
  font-size: 1em;
  padding-top: 0.1875rem;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  padding-bottom: 0.1875rem;
  vertical-align: top;
}

.title_manage {
  color: var(--primary-color);
}

.select-option {
  display: block;
  padding-top: 0.0625rem;
  padding-right: 0.125rem;
  padding-bottom: 0.125rem;
  min-height: 1.25rem;
}

.header-text {
  color: var(--text-color);
  font-size: var(--font-h4);
  padding-bottom: 0.4375rem;

  padding-left: 0.125rem;
}

.header-text-plus-not-bold {
  color: var(--text-color);
  font-size: var(--font-base);
  padding-bottom: 0.4375rem;
}

.header-text-plus {
  color: var(--text-color);
  font-size: var(--font-base);
  font-weight: bold;
  padding-bottom: 0.4375rem;
}
.investigator-text {
  color: var(--text-color);
  padding-top: 6.25rem;
}

.repeating_item_header {
  border: 0.0625rem solid;
  font-size: var(--font-h4);
  font-weight: bold;
  background-color: #dddddd;
}

.repeating_item_group {
  vertical-align: top;
}
.repeating_item_option_names {
  font-weight: bold;
  padding-right: 0.625rem;
  text-align: left;
}

tr.min-height {
  min-height: 1.125rem;
  font-size: 0.8em;
}

tr.min-height-20 {
  min-height: 1.25rem;
  font-size: 0.9em;
}

td.item-def-cell {
  vertical-align: top;
}

.repeating_item_group_header {
  font-size: 0.9em;
  padding-left: 0.3125rem;
  line-height: 0.9375rem;
  color: var(--text-color);
}

.page-break-screen {
  display: block;
  margin-top: 18.75rem;
  margin-bottom: 3.125rem;
}

.vertical-spacer-1.875rem {
  margin-top: 1.875rem;
}

.vertical-spacer-1.25rem {
  margin-top: 1.25rem;
}

table.repeating-horiz-items td,
th {
  border: none;
}

input[type='text'],
textarea {
  display: inline-block;
  background-color: #eeeeee;
  border: none;
  width: 70%;
  margin-top: 0.1875rem;
  margin-bottom: 0.1875rem;
  text-align: center;
}

@media all {
  .page-break {
    display: none;
  }
}

@media print {
  .page-break {
    display: block;
    page-break-before: always;
  }

  body {
    background-color: white;
  }

  .no_print {
    display: none;
  }

  .page-break-screen {
    display: none;
  }
}

td {
  vertical-align: top;
}

.provenance td,
.DNParentRowColor td {
  border-right: 0.0625rem solid black;
}

.provenance td {
  font-size: 80%;
}

.sigbox {
  margin-top: 3.125rem;
}

.esig {
  text-indent: 1.25rem;
  font-style: italic;
}

.dn_notes {
  margin: 0 0 0 1.25rem;
}

.dn_notes {
  margin: 0 0 0 1.25rem;
}

#tocHeader {
  text-align: center;
  padding-top: 3.125rem;
  padding-bottom: 1.25rem;
}

.tocLabel {
  background-color: #153a5a;
  color: white;
}

.tocEvent {
  background-color: #b2bec8;
}

.eventTable,
.itemTable,
.metadataTable {
  padding-left: 0.3125rem;
  margin-top: 1.25rem;
  width: 100%;
  border-collapse: collapse;
}

.itemTable {
  margin-left: 1%;
  width: 99%;
}

.eventTable td,
.itemTable td,
.metadataTable td {
  border-top: 0.0625rem solid black;
  border-bottom: 0.0625rem solid black;
  padding-left: 0.3125rem;
}

.provenance .right,
.DNParentRowColor .right {
  border-right: 0;
}

#crfList {
  margin: 3.125rem 0 3.125rem 0;
}

#crfList p {
  margin: 0;
  padding-left: 3.125rem;
}

#crfList ul {
  margin: 0;
  padding-left: 6.25rem;
  list-style-type: none;
}

#loading_msg {
  margin-top: 5%;
  color: #555555;
  width: 100%;
  text-align: center;
  font-size: var(--font-h3);
  font-family: Verdana, Geneva, sans-serif;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: 0.125rem solid var(--focus-color);
  outline-offset: 0.125rem;
}
